extends ../../layouts/default.pug
include ../../mixins/search.pug
include ../../mixins/filterStatus.pug
include ../../mixins/alertSuccess.pug
block main 
  include ../../particals/confirmDelete.pug
  include ../../particals/loadingIcon.pug
  div
    +alertSuccess(3000)
    div 
      p(class="text-2xl") List of products
    div(class="flex items-center")
      div(class="p-8 flex gap-3 ")
        +filterStatus(btnClicked)
      div 
        +search(keySearch)
    div
      div(class="flex justify-between")
        form(
          class="flex"
          action=`${prefixAdmin}/products/change-status-all?_method=PATCH`
          method="POST"
          id="form-change-status-all"
        )  
          select#statusAll.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(class='focus:ring-blue-500 focus:border-blue-500 p-2.5 ' name="statusAll")
            option(selected='') Choose an action 
            option(value="changePosition") Change position 
            option(value="deleteAll") Delete all 
            option(value='active') Active
            option(value='inactive') Inactive
          input(type="text" name="ids" ids value="" class="border rounded-md hidden")
          button(type="submit" class="btn-primary" ) Change 
        a(href=`${prefixAdmin}/products/newProduct` class="p-4 border border-green-600 rounded-lg active:bg-green-500") + add new product
      if products.length > 0
        table 
          thead 
            th(class="border border-white p-2" ) 
              input(type="checkbox" check-all)
            th(class="border border-white p-2") STT
            th(class="border border-white p-2") Product's name 
            th(class="border border-white p-2") Image 
            th(class="border border-white p-2") Price
            th(class="border border-white p-2") Position
            th(class="border border-white p-2") Status
            th(class="border border-white p-2") Action
          tbody 
            each product,index in products   
                tr 
                  td(class="border border-white p-2")
                    input(type="checkbox" check-item id=product._id)
                  td(class="border border-white p-2") #{index+1}
                  td(class="border border-white p-2") #{product.title} 
                  td(class="border border-white p-2") 
                      img(src=product.thumbnail, class="w-[100px] h-[80px]" alt="img")
                  td(class="border border-white p-2") #{product.price}
                  td(class="border border-white p-2")
                    input(type="number" name="positionInput" min=1 id="positionInput" class="w-[50px]" value=product.position)
                  td(class="border border-white p-2 w-[160px] text-center ")
                    if product.status == "active"
                      button(class="btn-primary" id=product._id btn-isActive=product.status) Hoat dong
                    else 
                      button(class="btn-danger"  id=product._id btn-isActive=product.status) Dung hoat dong
                  td(class="flex border border-white p-2") 
                      a(href=`${prefixAdmin}/products/fixProduct/${product._id}` class="btn-primary mr-1") Fix
                      a(href=`${prefixAdmin}/products/productDetail/${product._id}` class="btn-primary mr-1") Detail
                      //-button(class="btn-primary" idProduct=product._id data-product=JSON.stringify(product) btn-action-fix="fix") Fix 
                      if product.delete == true 
                        button(class="bg-red-500 text-white px-4 py-2 rounded opacity-50 cursor-not-allowed" disabled) Deleted
                      else 
                        button(class="btn-danger" idProduct=product._id data-product=JSON.stringify(product) btn-action-delete="delete") Delete
      else  
        p There is nothing here
  if pagination.totalPage < 6 
    ul(class="pagination")
      li(class="page-item")
        button(class=`page-link default-btn ${pagination.currentPage > 1 ? "" : "cursor-not-allowed opacity-50"}` btn-navigation="prev" disabled=pagination.currentPage <= 1) prev
      - for (var i = 1; i <= pagination.totalPage; i++)
        li(class=`page-item`)
          button(class=`page-link default-btn  ${pagination.currentPage == i ? "active" : ""}` btn-Page=i) #{i}
      li(class="page-item")
        button(class=`page-link default-btn ${pagination.currentPage < pagination.totalPage ? "" : "cursor-not-allowed opacity-50"}` btn-navigation="next" disabled=pagination.currentPage >= pagination.totalPage) next
  else
    ul(class="pagination")
      li(class="page-item")
        button(class=`page-link default-btn ${pagination.currentPage > 1 ? "" : "cursor-not-allowed opacity-50"}` btn-navigation="prev" disabled=pagination.currentPage <= 1) prev
      li(class="page-input-container")
        form(class="flex items-center")
          input(type="number" id="page" name="page" min="1" max=pagination.totalPage value=pagination.currentPage || 1 class="page-input")
          span(class="page-total") / #{pagination.totalPage}
      li(class="page-item")
        button(class=`page-link default-btn ${pagination.currentPage < pagination.totalPage ? "" : "cursor-not-allowed opacity-50"}` btn-navigation="next" disabled=pagination.currentPage >= pagination.totalPage) next
  form(
    action=""
    method="POST"
    id="form-change-status"
    data-path=`${prefixAdmin}/products/change-status/`
    )
  script(src="/admin/js/products.js")