div(class="hidden" id="deleteFormDiv" )  
  div(class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-40 z-50 ")
    div(class="bg-white rounded-2xl p-6 w-[500px] shadow-xl")
        form(
        idProduct=""
        class="flex flex-col gap-4"
        action=`${prefixAdmin}/products/delete-product?_method=DELETE`
        method="POST"
        id="form-delete-product"
        )
            input(type="text" name="idDeleteProduct" id="idDeleteProduct" class="hidden")
            p(class="font-bold text-blue-400 text-center") Are you sure to delete this product ?
            p(class="font-bold text-black text-center" titleDeleteProduct) 
                div(class="w-full flex justify-center")
                    button(class="btn-primary" type="submit" id="confirmDelete-btn") Ok 
                    button(class="btn-danger" type="button" id="cancelDelete-btn") Cancel 
